// ===============
// colors palette
// ===============
:root {
	// Site colors (Кольори сайту):
	--accent: #00b207; // Site accent color - (Наприклад: кнопки дії, заголовки, посилання)
	// Background colors (Фонові кольори):
	--bg-primary: #333; // BG primary background color - (Основний фоновий колір сайту)
	--bg-accent: #00b207; // BG accent - наприклад, може бути використаний для встановлення кольору фону для акцентних елементів, таких як кнопки або іконки.
	// Text colors (Текстові кольори):
	--text-primary: #fff; // Text primary text color - (Основний текстовий колір сайту)
	--text-accent: #1a1a1a; // Text accent - наприклад, може використовуватися для встановлення кольору тексту для акцентних елементів на сторінці, таких як заголовки або кнопки.
	// =================================================================
}
